*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;;
  background-color: #4ca0b5;
}
.container{
  width: 330px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
  margin: 100px auto;
  background-image: url("../images/bg.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
form{
  width: 330px;
  height: 600px;
  padding: 30px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #ffffffbf;
  border:none;
  border-radius: 5px;
}
::placeholder{
  color: rgb(136, 205, 221);
}
input[type=submit],input[type=reset]{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffffbf;
  color: #4898ab85;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover, input[type=reset]:hover{
  background-color: #4898ab85;
  color: #ffffffbf;
}
input[type=text]:focus,input[type=submit]:focus, input[type=reset]:focus{
  outline-color: rgb(136, 205, 221);
}
h1{
  color: #4898ab85;
  display: flex;
  justify-content: space-between;
}
h2{
  color: #4898ab85;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
}
footer{
  font-size: 12px;
  margin: 0px 10px;
}
